html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}
#info-box {
    position: absolute;
    top: 50px;
    left: 100px;
    color: white;
    font-family: Monaco, monospace;
    padding: 10px;
}
#info-box1 {
    position: absolute;
    top: 70px;
    left: 100px;
    color: white;
    font-family: Monaco, monospace;
    padding: 10px;
}